.advert__container {
	width: var(--width);
	max-width: 1980px;
	margin: 47px auto 106px auto;
	position: relative;
	z-index: -1;

	height: 540px;
	overflow: hidden;
	border-radius: 20px;
	video {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
