.slide__content {
 	width: var(--width);
	max-width: 1280px;
    margin: auto;
    overflow: hidden;
    div {
        // height: 400px;
        max-height: 400px;
        img {
            object-fit: cover;
            height: 100%;
        }
    }
}